<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Rust Documentation (Japanese) Review Site</title>
  <link rel="stylesheet" type="text/css" href="1.9/rust.css">
</head>
<body class="rustdoc">
  <div id="versioninfo">
  <img src="https://www.rust-lang.org/logos/rust-logo-32x32-blk.png" width="32" height="32" alt><br>
  <span class="white-sticker">Rust Japanese Doc</span>
  </div>

  <h1 class="title">ドキュメント・バージョン</h1>
  <table>
    <tbody>
    {{#versions}}
      <tr>
        <td>Rust {{version}}</td>
        <td><a href="{{version}}/index.html">ホーム</a></td>
        <td><a href="{{version}}/book/index.html">プログラミング言語Rust</a></td>
      </tr>
    {{/versions}}
    </tbody>
  </table>
</body>
</html>
